/*
https://www.realtimecolors.com/?colors=130c0f-fbf9f9-a27384-b4c4a6-87b08d&fonts=Inter-Inter 
*/

@media (prefers-color-scheme: light) {
  :root {
    --text: #130c0f;
    --background: #fbf9f9;
    --primary: #a27384;
    --secondary: #b4c4a6;
    --accent: #87b08d;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f3ecef;
    --background: #060404;
    --primary: #8d5e6f;
    --secondary: #49593b;
    --accent: #4f7855;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-50: #f5eff2;
    --text-100: #ebe0e5;
    --text-200: #d8c0ca;
    --text-300: #c4a1b0;
    --text-400: #b08296;
    --text-500: #9d627c;
    --text-600: #7d4f63;
    --text-700: #5e3b4a;
    --text-800: #3f2731;
    --text-900: #1f1419;
    --text-950: #100a0c;

    --background-50: #f5f0f0;
    --background-100: #ebe0e0;
    --background-200: #d6c2c2;
    --background-300: #c2a3a3;
    --background-400: #ad8585;
    --background-500: #996666;
    --background-600: #7a5252;
    --background-700: #5c3d3d;
    --background-800: #3d2929;
    --background-900: #1f1414;
    --background-950: #0f0a0a;

    --primary-50: #f5f0f2;
    --primary-100: #ebe0e4;
    --primary-200: #d6c2c9;
    --primary-300: #c2a3ae;
    --primary-400: #ad8594;
    --primary-500: #996679;
    --primary-600: #7a5261;
    --primary-700: #5c3d48;
    --primary-800: #3d2930;
    --primary-900: #1f1418;
    --primary-950: #0f0a0c;

    --secondary-50: #f2f5f0;
    --secondary-100: #e5ebe0;
    --secondary-200: #cbd6c2;
    --secondary-300: #b1c2a3;
    --secondary-400: #98ad85;
    --secondary-500: #7e9966;
    --secondary-600: #657a52;
    --secondary-700: #4b5c3d;
    --secondary-800: #323d29;
    --secondary-900: #191f14;
    --secondary-950: #0d0f0a;

    --accent-50: #f0f5f0;
    --accent-100: #e0ebe2;
    --accent-200: #c1d7c5;
    --accent-300: #a2c3a7;
    --accent-400: #84ae8a;
    --accent-500: #659a6d;
    --accent-600: #517b57;
    --accent-700: #3c5d41;
    --accent-800: #283e2c;
    --accent-900: #141f16;
    --accent-950: #0a0f0b;

  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: #100a0c;
    --text-100: #1f1419;
    --text-200: #3f2731;
    --text-300: #5e3b4a;
    --text-400: #7d4f63;
    --text-500: #9d627c;
    --text-600: #b08296;
    --text-700: #c4a1b0;
    --text-800: #d8c0ca;
    --text-900: #ebe0e5;
    --text-950: #f5eff2;

    --background-50: #0f0a0a;
    --background-100: #1f1414;
    --background-200: #3d2929;
    --background-300: #5c3d3d;
    --background-400: #7a5252;
    --background-500: #996666;
    --background-600: #ad8585;
    --background-700: #c2a3a3;
    --background-800: #d6c2c2;
    --background-900: #ebe0e0;
    --background-950: #f5f0f0;

    --primary-50: #0f0a0c;
    --primary-100: #1f1418;
    --primary-200: #3d2930;
    --primary-300: #5c3d48;
    --primary-400: #7a5261;
    --primary-500: #996679;
    --primary-600: #ad8594;
    --primary-700: #c2a3ae;
    --primary-800: #d6c2c9;
    --primary-900: #ebe0e4;
    --primary-950: #f5f0f2;

    --secondary-50: #0d0f0a;
    --secondary-100: #191f14;
    --secondary-200: #323d29;
    --secondary-300: #4b5c3d;
    --secondary-400: #657a52;
    --secondary-500: #7e9966;
    --secondary-600: #98ad85;
    --secondary-700: #b1c2a3;
    --secondary-800: #cbd6c2;
    --secondary-900: #e5ebe0;
    --secondary-950: #f2f5f0;

    --accent-50: #0a0f0b;
    --accent-100: #141f16;
    --accent-200: #283e2c;
    --accent-300: #3c5d41;
    --accent-400: #517b57;
    --accent-500: #659a6d;
    --accent-600: #84ae8a;
    --accent-700: #a2c3a7;
    --accent-800: #c1d7c5;
    --accent-900: #e0ebe2;
    --accent-950: #f0f5f0;

  }
}


body {
    color: var(--text);
    background-color: var(--background);
}